In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from xgboost import XGBRegressor
from sklearn import metrics

In [2]:
big=pd.read_csv('D:\PL\Item.csv')

In [4]:
big.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [5]:
big.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [6]:
big.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [7]:
big['Item_Weight'].mode()

0    12.15
Name: Item_Weight, dtype: float64

In [8]:
big['Item_Weight'].fillna(big['Item_Weight'].mode()[0],inplace=True)

In [9]:
big.isnull().sum()

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [10]:
big['Outlet_Size']

0       Medium
1       Medium
2       Medium
3          NaN
4         High
         ...
8518      High
8519       NaN
8520     Small
8521    Medium
8522     Small
Name: Outlet_Size, Length: 8523, dtype: object

In [11]:
big['Outlet_Size'].value_counts()

Outlet_Size
Medium    2793
Small     2388
High       932
Name: count, dtype: int64

In [12]:
big['Outlet_Size'].mode()

0    Medium
Name: Outlet_Size, dtype: object

In [13]:
big['Outlet_Size'].fillna(big['Outlet_Size'].mode()[0],inplace=True)
big['Outlet_Size'].fillna(big['Outlet_Size'].mode()[0],inplace=True)

In [14]:
big.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [15]:
big['Item_Fat_Content'].value_counts()

Item_Fat_Content
Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: count, dtype: int64

In [16]:
big.replace({'Item_Fat_Content': {'low fat':'Low Fat','LF':'Low Fat','reg':'Regular'}},inplace=True)

In [17]:
big['Item_Fat_Content'].value_counts()

Item_Fat_Content
Low Fat    5517
Regular    3006
Name: count, dtype: int64

In [18]:
big.replace({'Item_Fat_Content': {'Low Fat':0,'Regular':1}},inplace=True)

In [19]:
big['Outlet_Size'].value_counts()

Outlet_Size
Medium    5203
Small     2388
High       932
Name: count, dtype: int64

In [3]:
big.replace({'Outlet_Size': {'Medium':2,'Small':1,'High':3}},inplace=True)

In [21]:
big.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,0,0.016047,Dairy,249.8092,OUT049,1999,2,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,1,0.019278,Soft Drinks,48.2692,OUT018,2009,2,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,0,0.016760,Meat,141.6180,OUT049,1999,2,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,1,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,2,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,0,0.000000,Household,53.8614,OUT013,1987,3,Tier 3,Supermarket Type1,994.7052

In [4]:
le=LabelEncoder()

In [5]:
big['Item_Identifier']= le.fit_transform(big['Item_Identifier'])
big['Outlet_Identifier']= le.fit_transform(big['Outlet_Identifier'])
big['Item_Fat_Content']= le.fit_transform(big['Item_Fat_Content'])
big['Outlet_Size']= le.fit_transform(big['Outlet_Size'])
big['Item_Weight']= le.fit_transform(big['Item_Weight'])

In [6]:
cat_col=['Item_Identifier','Item_Type','Outlet_Location_Type','Outlet_Type']
for col in cat_col:
  big[col]=le.fit_transform(big[col])

In [7]:
big.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,156,284,1,0.016047,4,249.8092,9,1999,1,0,1,3735.1380
1,8,57,2,0.019278,14,48.2692,3,2009,1,2,2,443.4228
2,662,375,1,0.016760,10,141.6180,9,1999,1,0,1,2097.2700
3,1121,392,2,0.000000,6,182.0950,0,1998,3,2,0,732.3800
4,1297,265,1,0.000000,9,53.8614,1,1987,2,2,1,994.7052

In [8]:
X=big.drop('Item_Outlet_Sales',axis=1)

In [9]:
Y=big['Item_Outlet_Sales']

In [10]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, random_state=42, test_size=0.2)

In [11]:
X.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,156,284,1,0.016047,4,249.8092,9,1999,1,0,1
1,8,57,2,0.019278,14,48.2692,3,2009,1,2,2
2,662,375,1,0.016760,10,141.6180,9,1999,1,0,1
3,1121,392,2,0.000000,6,182.0950,0,1998,3,2,0
4,1297,265,1,0.000000,9,53.8614,1,1987,2,2,1

In [14]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaler.fit(X.loc[:,[ 'Item_Identifier','Item_Fat_Content','Item_Weight','Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type']])
X_sc = scaler.fit_transform(X.loc[:,[ 'Item_Identifier','Item_Fat_Content','Item_Weight','Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type']])

In [15]:
from sklearn.ensemble import GradientBoostingRegressor
from xgboost import XGBRFRegressor

In [16]:
gbr = GradientBoostingRegressor(max_depth=2, n_estimators=100, learning_rate =.2)

In [17]:
gbr = GradientBoostingRegressor(max_depth=2, n_estimators=100, learning_rate =.2)
gbr.fit(X_train,Y_train)

y_pred = gbr.predict(X_test)
from sklearn.metrics import r2_score
r6 = r2_score(Y_test,y_pred)
r6

0.6058737718766329

In [18]:
xg=XGBRegressor(max_depth=3, n_estimators=300)
xg.fit(X_train,Y_train)

y_pred = xg.predict(X_test)
from sklearn.metrics import r2_score
r7= r2_score(Y_test,y_pred)
r7

0.5678189920195578

In [19]:
import pickle

In [20]:
pickle.dump(gbr,open('sale1.pkl','wb'))